h1{
    color: var(--color-text);
    background-color:var(--card-color)
}

p{
    font-size: var(--font-size);
    margin: 0;
}
main{
    background-color: var(--card-color);
    padding: calc(var(--spacing-unit) * 2);
    border-radius: var(--radius-round);
    width: 350px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);
}

body{
    margin: 0;
    height: 100vh;
    background-color: var(--background-color);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

input {
  padding: var(--spacing-unit);
  border-radius: var(--radius-soft);

  border: 1px solid var(--color-space);
  background-color: var(--color-space);
  color: var(--color-text);

  transition: border-color var(--transition-speed) var(--transition-ease);
  outline: none;
}

input:focus {
  border-color: var(--color-text);
}


button {
  width: 100%;
  padding: var(--spacing-unit);
  border-radius: var(--radius-soft);

  border: none;
  font-weight: bold;
  color: var(--color-text);

  background-image: linear-gradient(
    to right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );

  cursor: pointer;

  transition: 
    transform var(--transition-speed) var(--transition-ease),
    opacity var(--transition-speed) var(--transition-ease);
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
